body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 120px;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.area-item {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px 10px gray;
    padding: 40px;
    border-radius: 5px;
}

.area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#part-one {
    border-left: 8px solid;
    border-image: linear-gradient(orange, cyan);
    border-image-slice: 1;
}

#part-two {
    border-left: 8px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}